{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/index.css",
  "tailwindFunctions": ["cn", "clsx", "cva"],
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "semi": false
}
