@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-ibm-plex-sans);
  --font-mono: var(--font-ibm-plex-mono);
  --color-border: var(--border);
  --color-ring: var(--ring);
}

:root {
  --foreground: oklch(0.141 0.005 285.823);
  --border: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply relative bg-zinc-950 font-sans text-zinc-200;
  }

  .root {
    @apply isolate;
  }

  .tiptap {
    @apply font-mono;

    &.ProseMirror > * {
      @apply relative;
    }

    &.ProseMirror {
      @apply whitespace-pre-wrap caret-white outline-none;
    }

    &.ProseMirror p:not(:first-child) {
      font-size: 1rem;
      line-height: 1.6;
      font-weight: 400;
      margin-top: 20px;
    }
  }
}
