@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-ibm-plex-sans);
  --font-mono: var(--font-ibm-plex-mono);
}

@layer base {
  body {
    @apply relative bg-zinc-950 font-sans text-zinc-200;
  }

  .tiptap {
    &.ProseMirror > * {
      @apply relative;
    }

    &.ProseMirror {
      @apply font-mono caret-white outline-none;
    }

    &.ProseMirror p:not(:first-child) {
      margin-top: 20px;
    }
  }
}
