:root {
  /* base */
  --hljs-bg: #ffffff;
  --hljs-fg: #24292e;

  /* syntax */
  --hljs-keyword: #d73a49;
  --hljs-entity: #6f42c1;
  --hljs-constant: #005cc5;
  --hljs-string: #032f62;
  --hljs-variable: #e36209;
  --hljs-comment: #6a737d;
  --hljs-tag: #22863a;
  --hljs-heading: #005cc5;
  --hljs-list: #735c0f;

  /* markup */
  --hljs-added-fg: #22863a;
  --hljs-added-bg: #f0fff4;
  --hljs-deleted-fg: #b31d28;
  --hljs-deleted-bg: #ffeef0;
}

.dark {
  --hljs-bg: #0d1117;
  --hljs-fg: #c9d1d9;

  --hljs-keyword: #ff7b72;
  --hljs-entity: #d2a8ff;
  --hljs-constant: #79c0ff;
  --hljs-string: #a5d6ff;
  --hljs-variable: #ffa657;
  --hljs-comment: #8b949e;
  --hljs-tag: #7ee787;
  --hljs-heading: #1f6feb;
  --hljs-list: #f2cc60;

  --hljs-added-fg: #aff5b4;
  --hljs-added-bg: #033a16;
  --hljs-deleted-fg: #ffdcd7;
  --hljs-deleted-bg: #67060c;
}

.hljs {
  color: var(--hljs-fg);
  background: var(--hljs-bg);
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: var(--hljs-keyword);
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: var(--hljs-entity);
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: var(--hljs-constant);
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  color: var(--hljs-string);
}

.hljs-built_in,
.hljs-symbol {
  color: var(--hljs-variable);
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  color: var(--hljs-comment);
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: var(--hljs-tag);
}

.hljs-section {
  color: var(--hljs-heading);
  font-weight: bold;
}

.hljs-bullet {
  color: var(--hljs-list);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-addition {
  color: var(--hljs-added-fg);
  background-color: var(--hljs-added-bg);
}

.hljs-deletion {
  color: var(--hljs-deleted-fg);
  background-color: var(--hljs-deleted-bg);
}
